@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  background-color: #ACDCEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000249;
  }
}

@font-face {
  font-family: "Lexend-100";
  src: url(./Fonts/Lexend-Thin.ttf);
}
@font-face {
  font-family: "Lexend-200";
  src: url(./Fonts/Lexend-ExtraLight.ttf);
}
@font-face {
  font-family: "Lexend-300";
  src: url(./Fonts/Lexend-Light.ttf);
}
@font-face {
  font-family: "Lexend-400";
  src: url(./Fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "Lexend-500";
  src: url(./Fonts/Lexend-Medium.ttf);
}
@font-face {
  font-family: "Lexend-600";
  src: url(./Fonts/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "Lexend-700";
  src: url(./Fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: "Lexend-800";
  src: url(./Fonts/Lexend-ExtraBold.ttf);
}
@font-face {
  font-family: "Lexend-900";
  src: url(./Fonts/Lexend-Black.ttf);
}
